body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
  font-size: 15px;
  font-family: "Overpass", sans-serif;
}

main {
  display: flex;
  width: 25%;
  flex-direction: column;
  background: linear-gradient(
    to bottom left,
    hsl(213, 19%, 18%),
    hsl(216, 12%, 8%)
  );
  padding: 1.5em;
  border-radius: 5%;
}

main h2 {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  margin-bottom: 0;
}

main p {
  color: hsl(217, 12%, 63%);
  font-weight: 400;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(213, 19%, 18%);
  color: hsl(217, 12%, 63%);
  height: 3em;
  width: 3em;
  border-radius: 50%;
}

section {
  display: flex;
  justify-content: space-around;
  color: hsl(217, 12%, 63%);
}

button {
  box-shadow: none;
  outline: none;
  border: none;
}

.numBtn,
.two,
.three,
.four,
.five {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(213, 19%, 18%);
  color: hsl(217, 12%, 63%);
  height: 3em;
  width: 3em;
  border-radius: 50%;
  cursor: pointer;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover,
.five:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.btnClicked {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}

#submitRating {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  border-radius: 20px;
  margin-top: 1.5em;
  cursor: pointer;
}

#submitRating:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.thanks {
  display: flex;
  flex-direction: column;
}

.thanks h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thanks p {
  text-align: center;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: hsl(228, 45%, 44%);
}
