body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
}

main {
  display: flex;
  width: 35%;
  flex-direction: column;
  background: linear-gradient(hsl(213, 19%, 18%),hsl(216, 12%, 8%));
  padding: 1.5em;
  border-radius: 5%;
}

main h2 {
  color: hsl(0, 0%, 100%)
}

main p {
  color: hsl(217, 12%, 63%)
}

section {
  display: flex;
  justify-content: space-between;
  color: hsl(217, 12%, 63%)
}

.one, .two, .three, .four, .five { 
  display: flex;
  justify-content: center;
    align-items: center;
  background-color: hsl(213, 19%, 18%);
  height: 3em;
  width: 3em;
  border-radius: 50%;
}

main button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  background-color: hsl(0, 0%, 100%);
  color: orange;
  border-radius: 12px;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: hsl(228, 45%, 44%);
}